#notes {
	padding: 1.5rem 0;
	background-color: #eeeeee;
	align-items: center;
}

#notes #category-name {
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}

.add {
	margin-bottom: 1rem;
}

.add:hover {
	cursor: pointer;
}
